

body {
	  font-family: 'Oxanium';

            margin: 0;
            min-height: 100vh;
            /* height: 100%;
        width: 100%; */
            /* 能够融合背景图片的颜色 */
            background-color: #e493D0;
            /* 背景图片 */
            background-image:
                radial-gradient(closest-side, rgba(235, 105, 78, 1), rgba(235, 105, 78, 0)),
                radial-gradient(closest-side, rgba(243, 11, 164, 1), rgba(243, 11, 164, 0)),
                radial-gradient(closest-side, rgba(254, 234, 131, 1), rgba(254, 234, 131, 0)),
                radial-gradient(closest-side, rgba(170, 142, 245, 1), rgba(170, 142, 245, 0)),
                radial-gradient(closest-side, rgba(248, 192, 147, 1), rgba(248, 192, 147, 0));
            /* 以屏幕长的一边计算，控制它们的大小 */
            background-size:
                130vmax 130vmax,
                80vmax 80vmax,
                90vmax 90vmax,
                110vmax 110vmax,
                90vmax 90vmax;
 
            /* 设置位置 */
            background-position:
                -80Vmax -80vmax,
                60Vmax -30vmax,
                10Vmax 10vmax,
                -30Vmax -10vmax,
                50Vmax 50vmax;
 
            background-repeat: no-repeat;
            /* 调用动画 */
            animation: 10s move linear infinite;
 
        }
/*
        body::after {
            content: '';
            display: block;
            position: fixed;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
        }*/
 
        @keyframes move {
 
            /* 动画初始状态，和结束状态 */
            0%,
            100% {
                /* 以屏幕长的一边计算，控制它们的大小 */
                background-size:
                    130vmax 130vmax,
                    80vmax 80vmax,
                    90vmax 90vmax,
                    110vmax 110vmax,
                    90vmax 90vmax;
 
                /* 设置位置 */
                background-position:
                    -80Vmax -80vmax,
                    60Vmax -30vmax,
                    10Vmax 10vmax,
                    -30Vmax -10vmax,
                    50Vmax 50vmax;
            }
 
            25% {
                background-size:
                    100vmax 100vmax,
                    90vmax 90vmax,
                    100vmax 100vmax,
                    90vmax 90vmax,
                    60vmax 60vmax;
 
                /* 设置位置 */
                background-position:
                    -60Vmax -60vmax,
                    50Vmax -40vmax,
                    0Vmax 10vmax,
                    -40Vmax -20vmax,
                    40Vmax 40vmax;
            }
            50% {
                background-size:
                    90vmax 90vmax,
                    100vmax 100vmax,
                    80vmax 80vmax,
                    90vmax 90vmax,
                    60vmax 60vmax;
 
                /* 设置位置 */
                background-position:
                    -70Vmax -70vmax,
                    40Vmax -40vmax,
                    0Vmax 10vmax,
                    -50Vmax -30vmax,
                    30Vmax 30vmax;
            }
            75% {
                background-size:
                    80vmax 80vmax,
                    70vmax 70vmax,
                    80vmax 80vmax,
                    70vmax 70vmax,
                    50vmax 50vmax;
 
                /* 设置位置 */
                background-position:
                    -60Vmax -60vmax,
                    60Vmax -30vmax,
                    10Vmax 10vmax,
                    -40Vmax -40vmax,
                    50Vmax 50vmax;
            }
        }

h1, h2, h3 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
h4, h5, h6 {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}
p {
  margin-top: 0;
  margin-bottom: 0rem;
}
a {
  color: brown;
  margin-top: 0;
  margin-bottom: 0rem;
}

.left1 {
width: 50%;
float: left;
	text-align: center;
}

.right1 {
width: 50%;
float: left;
	text-align: center;
}
.container {
  font-family: 'Oxanium';
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}
.container-sh {
  font-family: 'Oxanium';
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
	max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center !important;
}
.btn {
  font-family: 'Poppins';
  font-family: thefont;
  display: inline-block;
  font-weight: 400px;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0px 0px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-top: 1px;
  margin-bottom: 1px;
  transition: 0.1s all;
}
.btn:active {
  transform: scale(0.95);

}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}
.btn-light {
  font-family: 'Poppins';
  color: black;
  background-color: orange;
  border-color: orange;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn:hover {
  color: #fff;
  background-color: #212529;
  text-decoration: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btn-light:hover {
  color: black;
  background-color: pink;
  border-color: pink;
}
.btn-success:hover {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
}
hr {
  border: 0.5px solid yellow;	
  overflow: visible;
}
